.category {
    padding: 90px 0;

    .category__title {
        text-transform: uppercase;
        font-size: 2.2rem;
    }

    .category__posts {

        .card-section {

            margin-top: 0;
            padding-top: 0;
        }
    }
}

@include sm-and-above {

    .category {

        h1.category__title {
            font-size: 3rem;
        }
    }
}

@include md-and-above {

    .category {
        padding: 175px 30px 50px;

        h1.category__title {
            font-size: 4rem;
        }

        .category__posts {

            .card-section {
    
                .card-row {
    
                    margin-bottom: 20px;
                }
            }
        }
    }
}