.category {
    padding: 90px 0;

    h1.category__title {
        text-transform: uppercase;
        font-size: 2.2rem;
    }
}

@include sm-and-above {

    .category {

        h1.category__title {
            font-size: 3rem;
        }
    }
}

@include md-and-above {

    .category {
        padding: 175px 30px 50px;

        h1.category__title {
            font-size: 4rem;
        }
    }
}