/*******************
    SCHEME 1
*/

/*$primary: #E4687F;
$secondary: #02B2B2;
$accent1: #196260;
$accent2: #FEEAD3;*/


/*******************
    SCHEME 2
*/

/*$primary: #E4687F;
$secondary: #EDAE49;
$accent1: #00798C;
$accent2: #30638E;
$accent3: #003D5B;*/


/*******************
    SCHEME 3
*/

/*$primary: #E4687F;
$secondary: #FFBF00;
$accent1: #2274A5;
$accent2: #32936F;*/


/*******************
    SCHEME 4
*/

/*$primary: #E4687F;
$secondary: #B6D094;
$accent1: #E1AA7D;
$accent2: #6A2E35;
$accent3: #2E2836;*/

/*******************
    SCHEME 5
*/

/*$primary: #E4687F;
$secondary: #424B54;
$accent1: #D5ACA9;
$accent2: #EBCFB2;
$accent3: #C5BAAF;*/

/*******************
    SCHEME 6
*/

$primary: #ffcdcc;
$primary_light: #ffcdcc;
$accent1: #BFD8D2;
$accent2: #FEFEBE;


$text_black: #222;
$text_light: #B3B3B3;