footer {
    
    background-color: $accent2;
    border-top: 1px solid #eee;

    padding-top: 40px;

    .footer__content {
        text-align: center;
    }

    .footer__logo {
        display: block;
        margin-bottom: 30px;
    }

    .footer__nav {
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid $text_black;

        li {
            margin-bottom: 10px;
        }

        a {
            font-size: 1.6rem;
        }
    }

    .footer__socials {
        margin-top: 30px;

        li {
            margin-left: 15px;

            &:first-child {
                margin-left: 0;
            }
        }

        a {

            i {
                font-size: 2.2rem;
            }

            &:hover {
                i {
                    color: $primary;
                }
            }
            
        }
    }

    .footer__copy {
        margin-top: 40px;
        padding: 15px 0;
        text-align: center;
        background-color: $primary;
        position: relative;

        span {
            font-size: 1.2rem;
        }

        img.loveyou {
            position: absolute;
            right: 20px;
            bottom: 50%;
            transform: translateY(50%);
            width: 15px;
            height: 15px;

            &:hover {
                cursor: pointer;
            }
        }
    }

}

@include sm-and-above {

    footer {

        .footer__content {
        
        }
    }
   
}

@include md-and-above {

    footer {

        padding-top: 80px;

        .footer__content {
        
        }

        .footer__copy {
            margin-top: 80px;
        }
    }

}